* {
  background-color: black;
}
body{
  text-align: right;
  color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-left: 60px;
  }

section h3{
  text-align: center;
  font-weight: 770;
  font-size: x-large;
  outline: auto;
  margin-bottom: 37px;
  margin-top: 40px;
  border:none;
}

.P {
  text-decoration: double;
  text-align: right;
  background-color: rgb(18, 17, 17);
  font-weight: 200;
  font-size: medium;
  text-decoration: solid;
}

.Contenedor p{
  margin: 10px;
  margin-bottom: 30;
  color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
  line-height: 1.5;
}



section ul {
  list-style-type: georgian;
  text-align: start;
  font-size: small;
  font-weight: 620;
}

nav a{
  text-decoration: line-through;
  text-decoration-line:underline;
  color: rgb(228, 138, 20);
}

nav li{
  text-align: left;
}



