/* modelo de caja universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fondo */
body {
  background-color: #111;
  color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  outline: auto;
}

.header {
  background: #222;
  padding: 20px;
  border: 2px solid coral;
  margin-bottom: 20px;
  text-align: center;
}

/* Conteneder */
.contenedor-principal {
  display: flex;
  gap: 20px;
}

.seccion-texto {
  flex: 3;
  background: #1a1a1a;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

.importante {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

/* texto */
.parrafo {
  background-color: #0f0f0f;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lista {
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contenedor {
  background: #2a2a2a;
  padding: 15px;
  border: 1px solid coral;
  border-radius: 8px;
}

.menu {
  flex: 1;
  background: #1d1d1d;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
}

.menu a {
  color: coral;
  text-decoration: none;
  font-weight: bold;
}

.menu li {
  margin-bottom: 10px;
}





